body{
  background-image: url(images.jpg);
  background-size: cover;
}

img{
  height: 500px;
}

h1{
top:0;
  font-size: 80px;
  color: #990000;
}

h4{
  font-size: 25px;
  color: #000000;
}

p{
  color: #810955;
  font-size: 23px;
}
