body{
  background-image: url(bg-image.jpg);
  background-size: cover;

}

html, body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

h1{
color: #161D6F;
font-size: 150%
}

h2{
  color: #161D6F;
}

h3{
color: #161D6F;
font-size: 150%;
}
